.perk-list {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    margin: 10px 0px;

    li {
        padding: 10px 20px;
        background: #363636;
        color: white;
        text-align: center;

        width: 100%;
        user-select: none;

        margin: 5px 0px;

        &:first-of-type {
            margin-top: 0px;
        }

        &:last-of-type {
            margin-bottom: 0px;
        }

        &:hover {
            background: #333;
        }
    }
}