.perk-list {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    margin: 10px 0px;

    li {
        padding: 10px 20px;
        background: #363636;
        color: white;
        text-align: center;

        width: 100%;
        user-select: none;

        margin: 5px 0px;

        &:first-of-type {
            margin-top: 0px;
        }

        &:last-of-type {
            margin-bottom: 0px;
        }

        &:hover {
            background: #333;
        }

        &.perk-max {
            background: hsl(141, 71%, 48%);
        }

        &.perk-overload {
            background: hsl(14, 100%, 53%);
        }

        &.perk-level-1 {
            background: hsl(0, 0%, 71%);
        }

        &.perk-level-2 {
            background: hsl(0, 0%, 48%);
        }

        &.perk-level-3 {
            background: hsl(0, 0%, 29%);
        }

        &.perk-level-4 {
            background: hsl(0, 0%, 21%);
        }

        &.perk-level-5 {
            background: hsl(0, 0%, 14%);
        }
    }
}