.footers {
    margin-top: 20px;
    font-size: 16px;

    max-width: 650px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    a {
        color: #FFF;

        text-shadow: 0 0 10px black;
        
        transition: color 0.3s ease;

        &:hover {
            color: #3273dc;
        }
    }
}

@media screen and (max-width: 700px) {
    .footers {
        flex-flow: column nowrap;
        justify-content: space-around;

        .footer-link {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
