.item-title-wrapper {
    margin-top: 10px;
}

.item-wrapper, .item-modal-list {
    .cells {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        .cell {
            height: 150px;
            padding: 20px;

            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            background: #EEE;
            margin-left: 5px;
            margin-right: 5px;

            width: 180px;

            user-select: none;

            transition: background 0.3s ease, color 0.3s ease;

            &:hover {
                cursor: pointer;
                background: #CCC;
            }

            &:active {
                background: #AAA;
                transition-duration: 0.1s;
            }

            &:first-of-type {
                margin-left: 0px;
            }

            &:last-of-type {
                margin-right: 0px;
            }

            &.empty {
                img {
                    border-color: $rarity-empty-color;
                    background: $rarity-empty-color;
                }
            }

            &.uncommon {
                &:hover, img {
                    color: white;
                    border-color: $rarity-uncommon-color;
                    background: $rarity-uncommon-color;
                }
            }

            &.rare {
                &:hover, img {
                    color: white;
                    border-color: $rarity-rare-color;
                    background: $rarity-rare-color;
                }
            }

            &.epic {
                &:hover, img {
                    color: white;
                    border-color: $rarity-epic-color;
                    background: $rarity-epic-color;
                }
            }

            img {
                width: 96px;
                height: 96px;

                border: 1px solid black;
                background: black;
                border-radius: 200px;
                padding: 15px;
            }

            .cell-perk-wrapper {
                width: 250px;
            }

            .cell-title {
                text-align: center;
                margin-top: 5px;
                font-size: 14px;
            }
        }
    }
}

.item-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    height: 150px;

    position: relative;

    img {
        width: auto;
        height: 100%;
    }

    .image-icon-wrapper {
        min-width: 128px;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }

    .item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        flex-grow: 2;

        height: 150px;
        padding: 20px;

        background: #EEE;

        user-select: none;
        -moz-user-select: none;

        transition: background 0.3s ease;

        &:hover {
            cursor: pointer;
            background: #CCC;
        }

        &:active {
            background: #AAA;
            transition-duration: 0.1s;
        }

        margin-right: 10px;

        &.no-cells {
            margin-right: 0px;
        }

        &.no-item {
            margin-right: 0px;

            .no-item-icon {
                font-size: 64px;
                margin-left: 50px;
                margin-right: 50px;

                animation: pulsating 4s ease infinite;
            }
        }

        .item-data {
            margin-left: 10px;

            .item-title {
                font-size: 22px;
            }

            .unique-effects {
                line-height: 1;
                font-size: 12px;
            }

            .stat-data {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: center;

                & + .unique-effects {
                    margin-top: 5px;
                }
            }

            .elementals {
                display: inline-flex;
                margin-left: 5px;

                .elemental {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;

                    background: transparent;
                    color: white;

                    padding: 3px 6px;
                    margin-right: 3px;

                    img {
                        padding-top: 2px;
                        height: 20px;
                    }

                    &.elemental-strength {
                        border: 1px solid $elemental-positive;
                        color: $elemental-positive;
                    }

                    &.elemental-weakness {
                        border: 1px solid $elemental-negative;
                        color: $elemental-negative;
                    }
                }
            }
        }

        .perk-string-items {
            display: inline-flex;
            flex-flow: row nowrap;
            align-items: center;
            margin-right: 5px;

            img {
                width: 20px !important;
                height: 20px !important;

                margin-left: 5px;
                margin-right: 5px;

                filter: invert(1);
            }
        }

        &.repeater-part {
            .repeater-image-wrapper {
                min-width: 120px;
                text-align: center;

                & > img {
                    max-height: 100px;
                }
            }
        }

        &.weapon-part {
            .weapon-part-image-wrapper {
                min-width: 120px;
                text-align: center;

                & > img {
                    max-height: 100px;
                    filter: invert(1);
                }
            }
        }
    }
}

.item-modal-list {
    .item-wrapper {
        height: unset;

        .item {
            height: unset;

            .image-icon-wrapper {
                width: 64px !important;
                height: 64px !important;
                min-width: unset !important;

                & > img {
                    width: 64px;
                    height: 64px;

                    min-width: 64px;
                }
            }

            img {
                height: 64px;
            }

            .cell-line {
                display: flex;
                flex-flow: row;
                align-items: center;

                &:first-of-type {
                    margin-top: 5px;
                }

                &:last-of-type {
                    margin-bottom: 10px;
                }

                img {
                    height: 20px;
                    width: 20px;
                    padding: 2px;
                    background: #363636;
                    border-radius: 40px;

                    margin-right: 5px;
                    margin-left: 5px;
                }
            }
        }
    }

    .cell-title-line {
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
    }

    .cells {
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;

        .cell {
            height: auto;
            width: 80%;

            flex-flow: row nowrap;
            align-items: center;

            margin-left: 0px !important;
            margin-right: 0px !important;

            margin-top: 5px;
            margin-bottom: 5px;

            img {
                width: 48px;
                height: 48px;
                padding: 4px;
                margin-right: 20px;
            }

            .perks {
                font-size: 13px;
                text-align: center;
                max-width: 250px;
            }
        }
    }
}

// start changing tile layout a bit earlier to better support smaller screens
// for items like the hunger
@media screen and (max-width: 1300px) {
    .item-title-wrapper {

        .subtitle {
            text-align: center;
            margin-top: 15px;

            padding-bottom: 10px;

            border-bottom: 1px solid #EEE;
        }

        .item-wrapper {
            flex-flow: column nowrap;
            height: unset;

            .item {
                flex-flow: column nowrap;
                height: unset;
                margin-right: 0px;

                width: 100%;

                img {
                    max-height: 64px;
                }

                .item-data {
                    text-align: center;
                }

                .repeater-image-wrapper > img {
                    max-height: 64px !important;
                }

                &.no-item .no-item-icon {
                    font-size: 32px;
                }
            }

            .cells {
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;

                width: 100%;
                padding: 5px 0px;

                .cell {
                    height: auto;
                    width: 100%;

                    flex-flow: row nowrap;
                    align-items: center;

                    margin-left: 0px !important;
                    margin-right: 0px !important;

                    margin-top: 5px;
                    margin-bottom: 5px;

                    img {
                        width: 48px;
                        height: 48px;
                        padding: 4px;
                        margin-right: 20px;
                    }

                    &.empty {
                        img {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .item-wrapper .image-icon-wrapper {
        width: 64px !important;
        height: 64px !important;
    }

    .modal-card {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        margin: 0px;
        padding: 20px;
        min-height: 100vh;

        .item-modal-list {
            max-height: unset;

            margin-bottom: 70px;
        }

        .cells {
            .cell {
                width: 100%;
            }
        }

        .modal-card-foot {
            position: fixed;
            left: 0px;
            right: 0px;
            bottom: 0px;
            width: 100vw;
            margin: 0px;
        }
    }

    .cell-slots {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        margin-bottom: 10px;

        .cell-line {
            margin: 0 !important;
        }
    }

    .stat-data {
        justify-content: center !important;
    }
}
