html, body {
    background: $bgcolor;

    text-align: center;

    background: url(/assets/bg.jpg) fixed;
    background-size: cover;
    background-position: center center;
}

strong {
    font-weight: 600;
}

.logo {
    margin-bottom: 50px;
    max-width: 300px;
    height: auto;
}

.card {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 20px;
}

.quick-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: #363636;
    padding: 10px;

    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;

    & > div > button,
    & > div > a,
    & > div > .dropdown {
        margin-left: 5px;
        margin-right: 5px;
    }

    .dropdown {
        .dropdown-item.disabled {
            color: #CCC;
            cursor: not-allowed;
        }
    }
}

.hidden-on-large-screens {
    display: none;
}

.hidden {
    display: none;
}

.only-on-very-small {
    display: none;
}

.db-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .db-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: url(/assets/bg.jpg) fixed;
        background-size: cover;
        background-position: center center;

        filter: blur(15px);
    }

    .fa-spinner {
        font-size: 48px;
        color: white;
    }
}

@media screen and (max-width: 1300px) {
    .hidden-on-large-screens {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .only-desktop {
        display: none !important;
    }

    .section {
        padding-left: 0px;
        padding-right: 0px;
    }

    .only-on-very-small {
        display: block;
    }

    .quick-actions {
        flex-flow: column nowrap;

        .qa-left {
            display: flex;
            flex-flow: column nowrap;
        }

        .qa-right {
            display: flex;
            flex-flow: column nowrap;
        }

        & > div > button,
        & > div > a,
        & > div > .dropdown {
            width: 100%;
            margin-left: 0px !important;
            margin-right: 0px !important;

            margin-bottom: 5px;

            &:last-of-type {
                margin-bottom: 0px;
            }

            .is-debug-button {
                width: 100%;
                margin-bottom: 5px;
            }

            &.dropdown {
                margin-top: 5px;

                .dropdown-trigger {
                    width: 100%;

                    button {
                        width: 100%;
                    }
                }
            }
        }

        a > button {
            width: 100%;
        }
    }
}
