.modal-card {
    min-height: 50vh;
    max-height: 80vh;

    .item-modal-list {
        overflow-y: auto;
        max-height: 60vh;

        margin: 10px 0px;

        flex-grow: 2;

        .no-item-found {
            background: #ff3860;
            padding: 30px;
            text-align: center;
            font-weight: 600;
            color: white;
            margin: 20px 0px;
        }
    }

    .modal-card-foot {
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: -20px;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .footer-left {
            flex-grow: 1;
            margin-right: 15px;

            .level-picker {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

                .rc-slider {
                    margin-right: 15px;

                    .rc-slider-track {
                        background-color: $elemental-positive;
                    }

                    .rc-slider-handle {
                        border-color: $elemental-positive;

                        &:hover {
                            border-color: $elemental-positive;
                        }
                    }
                }

                .level {
                    user-select: none;
                    -moz-user-select: none;
                }
            }
        }
    }
}

.disable-scrolling {
    overflow-y: hidden !important;
}
