.my-builds-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    .build-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        width: 600px;
        max-width: 80vw;
        padding: 20px;

        a:hover {
            & + .build-actions {
                background: #363636;
                color: white;
            }
        }

        .build-content {
            display: flex;
            flex-flow: column nowrap;

            background: #EEE;
            padding: 20px;

            transition: background 0.3s ease;

            &:active {
                background: #AAA;
                transition-duration: 0.1s;
            }

            &:hover {
                background: #363636;

                .build-title {
                    color: white;
                }
            }

            .build-title {
                font-size: 22px;
                color: #363636;
            }

            .build-tags {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: flex-start;

                .tag {
                    margin-right: 5px;
                    margin-top: 5px;

                    &:last-of-type {
                        margin-right: 0px;
                    }
                }
            }
        }

        .build-actions {
            background: #EEE;

            height: 100%;
            padding: 20px;

            transition: background 0.3s ease;

            &:active {
                background: #AAA;
                transition-duration: 0.1s;
            }

            .delete-action {
                cursor: pointer;

                &:hover {
                    color: white;
                }
            }
        }
    }
}
