.perk-list {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    margin: 10px 0px;

    li {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        padding: 10px 20px;
        background: #363636;
        color: white;
        text-align: center;

        width: 100%;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

        margin: 5px 0px;

        &:first-of-type {
            margin-top: 0px;
        }

        &:last-of-type {
            margin-bottom: 0px;
        }

        & > h2 {
            font-size: 24px;
            text-transform: uppercase;
        }

        &.perk-title-line {
            justify-content: center;
        }

        .perk-icon {
            max-width: 32px;
	    max-height: 32px;
            height: auto;

            flex-basis: 10%;
        }

        .perk-data-wrapper {
            flex-basis: 90%;
        }

        &.perk-max {
            background: hsl(141, 71%, 48%);
        }

        &.perk-overload {
            background: hsl(14, 100%, 53%);
        }

        &.perk-level-1 {
            background: hsl(0, 0%, 71%);
        }

        &.perk-level-2 {
            background: hsl(0, 0%, 48%);
        }

        &.perk-level-3 {
            background: hsl(0, 0%, 29%);
        }

        &.perk-level-4 {
            background: hsl(0, 0%, 21%);
        }

        &.perk-level-5 {
            background: hsl(0, 0%, 14%);
        }
    }
}

.tp-effect {
    text-align: center;

    span {
        display: block;
    }

    margin-top: 5px;
    margin-bottom: 5px;

    &.active {
        font-weight: 600;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 700px) {
    .perk-list li {
        flex-flow: column nowrap;

        .perk-icon {
            flex-basis: 100%;
        }

        .perk-data-wrapper {
            flex-basis: 100%;
        }
    }
}
