$rarity-uncommon-color: #00CA3C;
$rarity-rare-color: #0072EB;
$rarity-epic-color: #BA00FF;

.dauntless-builder-item-embed,
.dauntless-builder-tooltip,
.dauntless-builder-error,
.dauntless-builder-build {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans",
        "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.dauntless-builder-error {
    color: red;
    background: white;
    border: 1px solid red;
    padding: 5px;
}

.dauntless-builder-item-embed {
    position: relative;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.1);

    padding-left: 5px;
    padding-right: 5px;

    user-select: none;

    img {
        position: absolute;

        width: 32px;
        height: 32px;
    }

    .dauntless-builder-item-embed-text {
        margin-left: 34px;
    }
}

.dauntless-builder-tooltip {
    pointer-events: auto !important;

    min-width: 300px;
    max-width: 500px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

    background: #FFF;

    z-index: 99999;

    .dauntless-builder-tooltip-titleline {
        color: #363636;

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        img {
            position: relative;
            width: 64px;
            height: 64px;
        }

        .dauntless-builder-tooltip-titleline-stats {
            display: flex;
            flex-flow: column nowrap;

            margin-left: 20px;

            h2 {
                font-size: 22px;
            }
        }
    }

    .dauntless-builder-wikilink {
        position: absolute;
        top: 5px;
        right: 10px;
    }
}

.dauntless-builder-build {
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

    width: 300px;

    background: #FFF;

    display: flex;
    flex-flow: column nowrap;

    .item {
        user-select: none;

        h2 {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            font-size: 18px;
            font-weight: normal;

            img {
                width: 32px;
                height: 32px;
            }

            span {
                margin-left: 10px;
            }
        }

        .cells {
            margin-top: 5px;
            margin-bottom: 10px;

            .cell {
                display: flex;
                flex-flow: row norwap;
                align-items: center;

                img {
                    width: 22px;
                    height: 22px;

                    background: black;
                    border-radius: 48px;

                    margin-left: 20px;
                    margin-right: 10px;
                }

                &.uncommon img {
                    background: $rarity-uncommon-color;
                }

                &.rare img {
                    background: $rarity-rare-color;
                }

                &.epic img {
                    background: $rarity-epic-color;
                }
            }
        }
    }

    .dauntless-builder-build-header {
        margin: -10px;
        margin-bottom: 10px;

        padding: 10px;

        background: #363636;
        color: #fff;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        cursor: pointer;

        user-select: none;

        transition: background 0.3s ease, color 0.3s ease;

        img {
            height: 32px;
            width: 32px;

            transition: filter 0.3s ease;

            filter: invert(1);
            margin-right: 10px;
        }

        &:hover {
            background: #dbdbdb;
            color: #363636;

            img {
                filter: invert(0);
            }
        }
    }
}