$bgcolor: #e3e3e3;


$rarity-empty-color: #CCC;
$rarity-uncommon-color: #00CA3C;
$rarity-rare-color: #0072EB;
$rarity-epic-color: #BA00FF;

html, body {
    background: $bgcolor;

    text-align: center;
}

strong {
    font-weight: 600;
}

.logo {
    margin-bottom: 50px;
    max-width: 300px;
    height: auto;
    filter: invert(1);
}

.card {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 20px;
}

.footers {
    margin-top: 20px;
    font-size: 16px;
    color: #AAA;

    a {
        color: #AAA;

        transition: color 0.3s ease;

        &:hover {
            color: black;
        }
    }
}

.modal-card {
    max-height: 80vh;

    .item-modal-list {
        overflow-y: auto;
    }
}

.disable-scrolling {
    overflow-y: hidden !important;
}

.quick-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: #363636;
    padding: 10px;

    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;

    button {
        margin-left: 5px;
        margin-right: 5px;

        &:first-of-type {
            margin-left: 0px;
        }

        &::last-of-type {
            margin-right: 0px;
        }
    }
}

.item-title-wrapper {
    margin-top: 10px;
}

.item-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    height: 150px;

    position: relative;

    img {
        width: auto;
        height: 100%;
    }

    .item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        flex-grow: 2;

        height: 150px;
        padding: 20px;

        background: #EEE;

        user-select: none;

        transition: background 0.3s ease, transform 0.3s ease;

        &:hover {
            cursor: pointer;
            background: #CCC;
        }

        &:active {
            transform: translateY(5px);
        }

        margin-right: 10px;

        &.no-item {
            .no-item-icon {
                font-size: 64px;
                margin-left: 50px;
                margin-right: 50px;

                animation: pulsating 4s ease infinite;
            }
        }

        .item-data {
            margin-left: 10px;

            .item-title {
                font-size: 24px;
            }
        }
    }

    .cells {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        .cell {
            height: 150px;
            padding: 20px;

            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            background: #EEE;
            margin-left: 5px;
            margin-right: 5px;

            min-width: 160px;

            user-select: none;

            transition: background 0.3s ease, transform 0.3s ease, color 0.3s ease;

            &:hover {
                cursor: pointer;
                background: #CCC;
            }

            &:active {
                transform: translateY(5px);
            }

            &:first-of-type {
                margin-left: 0px;
            }

            &:last-of-type {
                margin-right: 0px;
            }

            &.empty {
                img {
                    border-color: $rarity-empty-color;
                    background: $rarity-empty-color;
                }
            }

            &.uncommon {
                &:hover, img {
                    color: white;
                    border-color: $rarity-uncommon-color;
                    background: $rarity-uncommon-color;
                }
            }

            &.rare {
                &:hover, img {
                    color: white;
                    border-color: $rarity-rare-color;
                    background: $rarity-rare-color;
                }
            }

            &.epic {
                &:hover, img {
                    color: white;
                    border-color: $rarity-epic-color;
                    background: $rarity-epic-color;
                }
            }

            img {
                height: 96px;

                border: 1px solid black;
                background: black;
                border-radius: 200px;
                padding: 15px;
            }

            .cell-title {
                margin-top: 5px;
                font-size: 14px;
            }
        }
    }
}

pre.debug {
    border: 2px solid hsl(348, 100%, 61%);
    position: relative;
    padding-top: 40px;

    &::before {
        content: "DEBUG";
        color: white;

        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;

        padding: 5px;
        background: hsl(348, 100%, 61%);
    }
}

@keyframes pulsating {
    0% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(0.7);
    }
}