$bgcolor: #e3e3e3;


$rarity-empty-color: #CCC;
$rarity-uncommon-color: #00CA3C;
$rarity-rare-color: #0072EB;
$rarity-epic-color: #BA00FF;

html, body {
    background: $bgcolor;

    text-align: center;

    background: url(/assets/bg.jpg) fixed;
        background-size: cover;
        background-position: center center;
}

strong {
    font-weight: 600;
}

.logo {
    margin-bottom: 50px;
    max-width: 300px;
    height: auto;
    filter: invert(1);
}

.card {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 20px;
}

.footers {
    margin-top: 20px;
    font-size: 16px;
    color: #AAA;

    a {
        color: #AAA;

        transition: color 0.3s ease;

        &:hover {
            color: black;
        }
    }
}

.modal-card {
    min-height: 50vh;
    max-height: 80vh;

    .item-modal-list {
        overflow-y: auto;
        max-height: 60vh;

        margin: 10px 0px;

        flex-grow: 2;

        .no-item-found {
            background: #ff3860;
            padding: 30px;
            text-align: center;
            font-weight: 600;
            color: white;
            margin: 20px 0px;
        }
    }

    .modal-card-foot {
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: -20px;
        justify-content: flex-end;
    }
}

.disable-scrolling {
    overflow-y: hidden !important;
}

.featured {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .feature-tile {
        height: 150px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;

        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

        background: url(/assets/bg.jpg) fixed;
        background-size: cover;
        background-position: center center;

        filter: grayscale(1);
        color: white;

        &.new-build-tile {
            height: 400px;
        }

        .title {
            margin: 0;
        }

        cursor: pointer;
        user-select: none;

        &:active {
            transform: translateY(2px);
        }

        &:hover {
            filter: grayscale(0);
        }

        .feature-tile-background {
            position: absolute;
            bottom: 5px;
            left: 15px;
            font-size: 48px;
        }
    }
}

.quick-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: #363636;
    padding: 10px;

    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;

    & > div > button,
    & > div > a {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.item-title-wrapper {
    margin-top: 10px;
}

.item-wrapper, .item-modal-list {
    .cells {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        .cell {
            height: 150px;
            padding: 20px;

            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            background: #EEE;
            margin-left: 5px;
            margin-right: 5px;

            width: 180px;

            user-select: none;

            transition: background 0.3s ease, transform 0.3s ease, color 0.3s ease;

            &:hover {
                cursor: pointer;
                background: #CCC;
            }

            &:active {
                transform: translateY(5px);
            }

            &:first-of-type {
                margin-left: 0px;
            }

            &:last-of-type {
                margin-right: 0px;
            }

            &.empty {
                img {
                    border-color: $rarity-empty-color;
                    background: $rarity-empty-color;
                }
            }

            &.uncommon {
                &:hover, img {
                    color: white;
                    border-color: $rarity-uncommon-color;
                    background: $rarity-uncommon-color;
                }
            }

            &.rare {
                &:hover, img {
                    color: white;
                    border-color: $rarity-rare-color;
                    background: $rarity-rare-color;
                }
            }

            &.epic {
                &:hover, img {
                    color: white;
                    border-color: $rarity-epic-color;
                    background: $rarity-epic-color;
                }
            }

            img {
                width: 96px;
                height: 96px;

                border: 1px solid black;
                background: black;
                border-radius: 200px;
                padding: 15px;
            }

            .cell-title {
                text-align: center;
                margin-top: 5px;
                font-size: 14px;
            }
        }
    }
}

.item-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    height: 150px;

    position: relative;

    img {
        width: auto;
        height: 100%;
    }

    .item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        flex-grow: 2;

        height: 150px;
        padding: 20px;

        background: #EEE;

        user-select: none;

        transition: background 0.3s ease, transform 0.3s ease;

        &:hover {
            cursor: pointer;
            background: #CCC;
        }

        &:active {
            transform: translateY(5px);
        }

        margin-right: 10px;

        &.no-item {
            margin-right: 0px;

            .no-item-icon {
                font-size: 64px;
                margin-left: 50px;
                margin-right: 50px;

                animation: pulsating 4s ease infinite;
            }
        }

        .item-data {
            margin-left: 10px;

            .item-title {
                font-size: 22px;
            }

            .unique-effects {
                line-height: 1;
                font-size: 12px;
            }
        }
    }
}

.item-modal-list {
    .item-wrapper {
        height: unset;

        .item {
            height: unset;

            img {
                height: 64px;
            }

            .cell-line {
                display: flex;
                flex-flow: row;
                align-items: center;

                &:first-of-type {
                    margin-top: 5px;
                }

                &:last-of-type {
                    margin-bottom: 10px;
                }

                img {
                    height: 20px;
                    width: 20px;
                    padding: 2px;
                    background: #363636;
                    border-radius: 40px;

                    margin-right: 5px;
                    margin-left: 5px;
                }
            }
        }
    }

    .cell-title-line {
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
    }

    .cells {
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;

        .cell {
            height: auto;
            width: 80%;

            flex-flow: row nowrap;
            align-items: center;

            margin-left: 0px !important;
            margin-right: 0px !important;

            margin-top: 5px;
            margin-bottom: 5px;

            img {
                width: 48px;
                height: 48px;
                padding: 4px;
                margin-right: 20px;
            }

            .perks {
                font-size: 13px;
                text-align: center;
                max-width: 250px;
            }
        }
    }
}

pre.debug {
    border: 2px solid hsl(348, 100%, 61%);
    position: relative;
    padding-top: 40px;

    &::before {
        content: "DEBUG";
        color: white;

        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;

        padding: 5px;
        background: hsl(348, 100%, 61%);
    }
}

button.is-debug-button {
    width: 100%;
    margin: 5px 0px;
}

.quick-actions {
    .is-debug-button {
        width: unset;
        margin: unset;
    }
}

@keyframes pulsating {
    0% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(0.7);
    }
}

.my-builds-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    .build-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        width: 600px;
        padding: 20px;

        a:hover {
            & + .build-actions {
                background: #363636;
                color: white;
            }
        }

        .build-content {
            display: flex;
            flex-flow: column nowrap;

            background: #EEE;
            padding: 20px;

            &:hover {
                background: #363636;

                .build-title {
                    color: white;
                }
            }

            .build-title {
                font-size: 22px;
                color: #363636;
            }

            .build-tags {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: flex-start;

                .tag {
                    margin-right: 5px;
                    margin-top: 5px;

                    &:last-of-type {
                        margin-right: 0px;
                    }
                }
            }
        }

        .build-actions {
            background: #EEE;

            height: 100%;
            padding: 20px;

            .delete-action {
                cursor: pointer;

                &:hover {
                    color: white;
                }
            }
        }
    }
}